#album-list {	
	list-style: none;
}

#album-list li {
	font-size: 20px;
}

#album-list .year {
	position: relative;
	color: #1D6000;
}
#album-list .artist {
	color: black;
	font-size: 18px;
}
#album-list .album {
	color: #660000;
}

.github-avatar {
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

.commit {
  margin: 10px;
  height: 200px;
  width: 300px;
  padding: 10px;
  border: 1px dashed blue;
}

#img-width,#img-height {
  color:blue;
  width: 50px;
  height: 35px;
}

.wrapper {
  text-align: center;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center !important;
  margin: auto;
}

#image-index {
  width: 80px;
  height: 80px;
}

#gravatar-input {
  padding: 17px;
  min-width: 200px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;

}

div {
  //border: 1px dashed red;
}

#index-ipsum {
  margin-top: 70px;
}
#index-ipsum div {
  min-height: 380px;
}
#index-ipsum h2 {
  text-align: center;
  color: green;
}

#index-ipsum div:nth-of-type(1) h2 {
   color: orange;
   float: left;
   margin-right: 20px;
}
#index-ipsum div:nth-of-type(2) h2 {
  margin: 0;
}
#index-ipsum div:nth-of-type(3) h2 {
   color: #eeeb00;
   float: right;
   margin-left: 20px;
}
#index-ipsum div:nth-of-type(1) {
     border-right: 3px dashed #fff;
}
#index-ipsum div:nth-of-type(2) {
     text-align: center;
}
#index-ipsum div:nth-of-type(3) {
     border-left: 3px dashed #fff;
}

#index-ipsum p::first-letter {
  font-size: 25px;
}

#index-ipsum p {
  font-size: 16px;
  line-height: 30px;  
}