#album-list {	
	list-style: none;
}

#album-list li {
	font-size: 20px;
}

#album-list .year {
	position: relative;
	color: #1D6000;
}
#album-list .artist {
	color: black;
	font-size: 18px;
}
#album-list .album {
	color: #660000;
}

.github-avatar {
	width: 100px;
	height: 100px;
	border-radius: 10px 10px 10px 10px;
}

.commit {
  margin: 10px;
  height: 200px;
  width: 300px;
  padding: 10px;
  border: 1px dashed blue;
}

#img-width,#img-height {
  color:blue;
  width: 50px;
  height: 35px;
}

.wrapper {
  text-align: center;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center !important;
  margin: auto;
}

#image-index {
  width: 80px;
  height: 80px;
}

#gravatar-input {
  padding: 17px;
  min-width: 200px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;

}

div {
  border: 1px dashed red;
}